<section class="main-view" ng-controller="CountryController" ng-init="findOne()">
  <div class="container">
    <div class="page-header">
      <h1> {{country.title}}
        <small class="pull-right">
          <a ui-sref="country.list"><i class="fa fa-arrow-circle-left"></i></a>
        </small>
      </h1>
    </div>

    <p>Country Code: {{country.country_code}}</p>
    <p>Currency: {{country.currency}}</p>
    <p>Currency Code: {{country.currency_code}}</p>
    <p>EURO Conv Rate: {{country.euro_conv_rate}}</p>
    <p>Sort: {{country._sort}}</p>

    <div class="pull-right" ng-show="authentication.user._id == country.user._id">
      <a class="btn btn-primary" ui-sref="country.edit({countryId: country._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove(country);">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <small>
      <em class="text-muted">
        Posted on
        <span ng-bind="country.created_at | date:'mediumDate'"></span>
        by
        <span ng-bind="country.user.lastName"></span>
      </em>
    </small>
  </div>
</section>
