<div class="delivered_location_tastins clierfix">
  <table class="table">
    <thead>
      <th colspan="4"> <i class="fa fa-eye"></i> Appearance</th>
    </thead>
    <tbody>
      <tr>
        <td>Clarity </td>
        <td><strong>{{wine.wine_id.tasting_notes.clarity |capitalize}}</strong></td>
        <td>Intensity</td>
        <td><strong>{{wine.wine_id.tasting_notes.intensity |capitalize}}</strong></td>
      </tr>


      <tr>
        <td>Colour </td>
        <td><strong>{{wine.wine_id.tasting_notes.colour |capitalize}} </strong></td>
        <td>Viscosity </td>
        <td ><strong >{{wine.wine_id.tasting_notes.viscosity |capitalize}}</strong></td>
      </tr>
      <tr>
        <td>OTHER </td>
        <td><strong>{{wine.wine_id.tasting_notes.other |capitalize}} </strong></td>
         <td></td>
        <td><strong></strong></td>
      </tr>

      <tr>
        <th colspan="4"> <img src="/modules/wine/client/images/tr_15.png" /> Nose</th>
      </tr>

      <tr>
        <td>CONTIDION</td>
        <td><strong>{{wine.wine_id.tasting_notes.condition |capitalize}}</strong></td>
        <td>Intensity</td>
        <td><strong>{{wine.wine_id.tasting_notes.noseIntensity |capitalize}}</strong></td>
      </tr>


      <tr>
        <td>Aroma</td>
        <td><strong>{{wine.wine_id.tasting_notes.aroma |capitalize}}</strong></td>
        <td>Simplicity</td>
        <td><strong>{{wine.wine_id.tasting_notes.simplicity |capitalize}}</strong></td>
      </tr>

       <tr>
        <td>Autolytic</td>
        <td><strong>{{wine.wine_id.tasting_notes.autolytic |capitalize}}</strong></td>
        <td>Dairy & oak</td>
        <td><strong>{{wine.wine_id.tasting_notes.nosedairy_oak |capitalize}}</strong></td>
      </tr>
      <tr>
       
        <td>KERNEL</td>
        <td><strong>{{wine.wine_id.tasting_notes.kernel |capitalize}}</strong></td>
        <td>Mineral</td>
        <td><strong>{{wine.wine_id.tasting_notes.mineral |capitalize}}</strong></td>
      </tr>
      <tr>
        <td>Animal</td>
        <td><strong>{{wine.wine_id.tasting_notes.animal |capitalize}}</strong></td>
        <td>Maturity</td>
        <td><strong>{{wine.wine_id.tasting_notes.maturity |capitalize}}</strong></td>
      </tr>
      
    <!--   <tr>
        <td>Faults </td>
        <td><strong>{{wine.wine_id.tasting_notes.fault}} </strong></td>
        <td></td>
        <td></td>
      </tr> -->

      <tr>
        <th colspan="4"> <img src="/modules/wine/client/images/tr_16.png" /> Palate</th>
      </tr>


      <tr>
        <td>SWEETNESS</td>
        <td><strong>{{wine.wine_id.tasting_notes.sweetness |capitalize}} </strong></td>
        <td>ACIDITY</td>
        <td><strong>{{wine.wine_id.tasting_notes.acidity |capitalize}}</strong></td>
      </tr>

      <tr>
        <td>Tannin</td>
        <td><strong>{{wine.wine_id.tasting_notes.tannin |capitalize}}</strong></td>
        <td>Nature</td>
        <td><strong>{{wine.wine_id.tasting_notes.nature |capitalize}}</strong></td>
      </tr>
       <tr>
        <td>Alcohol</td>
        <td><strong>{{wine.wine_id.tasting_notes.alcohol |capitalize}}</strong></td>
        <td>Body</td>
        <td><strong>{{wine.wine_id.tasting_notes.body |capitalize}}</strong></td>
      </tr>

      <tr>
       
        <td>Flavour Intenisty </td>
        <td><strong>{{wine.wine_id.tasting_notes.flavour_intensity |capitalize}}</strong></td>
         <td>Floral</td>
        <td><strong>{{wine.wine_id.tasting_notes.floral |capitalize}}</strong></td>
      </tr>


      <tr>
        <td>Fruits</td>
        <td><strong>{{wine.wine_id.tasting_notes.fruit |capitalize}}</strong></td>
        <td>Spice</td>
        <td><strong>{{wine.wine_id.tasting_notes.spice |capitalize}}</strong></td>
      </tr>

     
       <tr>
        <td>Under ripness</td>
        <td><strong>{{wine.wine_id.tasting_notes.under_ripness |capitalize}}</strong></td>
        <td>HERBACE & VEGAL</td>
        <td><strong>{{wine.wine_id.tasting_notes.herbace_vegal |capitalize}}</strong></td>
        
      </tr>
      
      
      <tr>
        
        <td>Autolytic</td>
        <td><strong>{{wine.wine_id.tasting_notes.autolytic |capitalize}}</strong></td>
         <td>Dairy & Oak</td>
        <td><strong>{{wine.wine_id.tasting_notes.palate_dairyoaks |capitalize}}</strong></td>
        
      </tr>
       
      <tr>
        <td>Kernel</td>
        <td><strong>{{wine.wine_id.tasting_notes.palate_kernel |capitalize}}</strong></td>
        <td>Animal</td>
        <td><strong>{{wine.wine_id.tasting_notes.palate_animal |capitalize}}</strong></td>
        
      </tr>
<tr>
        <td>Maturity</td>
        <td><strong>{{wine.wine_id.tasting_notes.palate_maturity |capitalize}}</strong></td>
        <td>Mineral</td>
        <td><strong>{{wine.wine_id.tasting_notes.palate_mineral |capitalize}}</strong></td>
        
      </tr>
      <tr>
        <td>Finish </td>
        <td><strong>{{wine.wine_id.tasting_notes.finish |capitalize}}</strong></td>
        <td> </td>
        <td><strong></strong></td>
        
      </tr>

      <tr>
        <th colspan="4"> <img src="/modules/wine/client/images/tr_17.png" /> Faults</th>
      </tr>
<tr>
        <td>Anisoles</td>
        <td><strong>{{wine.wine_id.tasting_notes.anisoles |capitalize}}</strong></td>
        <td>Brettanomyces</td>
       <td><strong>{{wine.wine_id.tasting_notes.brettanomyce |capitalize}}</strong></td>
        
      </tr>
      <tr>
        <td>Oxidation</td>
        <td><strong>{{wine.wine_id.tasting_notes.oxidation |capitalize}}</strong></td>
        <td>Volatile acidity</td>
        <td><strong>{{wine.wine_id.tasting_notes.volatile_acidity |capitalize}}</strong></td>
        
      </tr>
      <tr>
        <td>Reduction</td>
        <td><strong>{{wine.wine_id.tasting_notes.reduction |capitalize}}</strong></td>
        <td>OTHER</td>
       <td><strong>{{wine.wine_id.tasting_notes.faultother |capitalize}}</strong></td>
        
      </tr>



      <tr>
        <th colspan="4"> <img src="/modules/wine/client/images/tr_17.png" /> Conclusion</th>
      </tr>

      <tr>
        <td>Quality</td>
        <td><strong>{{wine.wine_id.tasting_notes.quality |capitalize}}</strong></td>
        <td>Ageability </td>
        <td><strong>{{wine.wine_id.tasting_notes.ageability |capitalize}}</strong></td>       
      </tr>

      <tr>
        <td style="width:25%;">Drinking Window </td>
        <td><strong>{{wine.wine_id.tasting_notes.drinkingWindow |capitalize}}</strong></td>
        <td></td>
        <td><strong></strong></td>
      </tr>

      <tr>
        <th colspan="4"> <img src="/modules/wine/client/images/tr_18.png" />Drinking Notes</th>
      </tr>

      <tr>
        <td colspan="4">
          <p>{{wine.wine_id.tasting_notes.notes |capitalize}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>